.category {
  &__container {
    //border: 1px solid red;
    @include flex-multiple;
    background: linear-gradient(45deg, black, #15568b);
    padding: 0.9375em 1.25em;  // 15px 20px;
  }
}


.category-list {
  @include flex-multiple;

  &__item {
    cursor: pointer;
    white-space: nowrap;
    border-radius: 6px;
    padding: 8px 18px;
    border: 1px solid transparent;
    margin: 0 10px;
    color: #ffffff;

    &:hover {
      border: 1px solid #d1d1d1;
    }

  }

}

.active-category-tab {
   border: 1px solid #d1d1d1;
 }


.btn-add-media-item,
.btn-favourite {

  &:hover {
    background-color: $colorThemeSecondary;
  }
}

.btn-add-media-item-icon,
.btn-favourite-icon {
  padding-right: 6px;
}