.favourite-page {
  padding: 1.25em 1.8125em;  //20px 29px;
  background-color: #dddddd;

  &__title {
   @include section-title;
  }

  &__list {
    @include flex-start;
    flex-wrap: wrap;
    padding: 0 9em; // 144px
  }

}