// COLORS:
$colorThemeMain: #0a0a0a;
$colorThemeSecondary: #7aecee;
$colorTextMain: #717171;


@mixin flex-multiple {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-single {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  align-items: center;
}

@mixin section-title {
  padding: 0.9375em 0; // 15px
  text-align: center;
  color: $colorThemeMain;
  font-weight: 600;
}

.field {
  border-radius: 0.3125em; // 5px;
  outline: none;
  background-color: #efefef;
  border: 1px solid #b8b8b8;
  height: 32px;
  padding-right: 0.625em;  //10px;
  box-shadow: 0.0625em 0.0625em 0.3125em #2b2b2b;  // 1px 1px 5px
  -moz-appearance: none;
}


.btn {
  cursor: pointer;
  white-space: nowrap;
  padding: 0.625em 0.9375em; // 10px 15px
  border-radius: 0.375em; // 6px
  outline: none;
  border: none;
}

// MODAL - GENERAL LAYOUT:
.item-modal {
  z-index: 111111111;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.item-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 1em 1.5em;  // 16px 24px
  width: 24em; // 384px
  border-radius: 0.5em; // 8px
}

.close-button {
  position: absolute;
  right: 25px;
  width: 2.3em;  // 36.8px
  line-height: 2.3em; // 36.8px
  text-align: center;
  cursor: pointer;
  border-radius: 0.25em;  // 4px
  background-color: lightgray;
}

.close-button:hover {
  background-color: $colorThemeSecondary;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


.modal-form {
  &__title {
    margin: 0.625em; // 16px
  }

  &__field-container {
    margin: 1.25em 0; // 20px
  }

  &__field {
    width: 100%;
    padding-left: 0.625em; // 10px
    background-color: #fafafa;
  }

  &__label-container {
    font-weight: 700;
    margin-bottom: 0.3125em; // 5px
  }

  .--btn-modal {
    background-color: lightgray;

    &:hover {
      background-color: $colorThemeSecondary;
    }
  }
}


// BUTTON TO TOP
.btn-top {
  cursor: pointer;
  background-color: rgba(255,255,255,.9);
  box-shadow: 0.125em 0.125em 0.3125em #000000; //2px 2px 5px
  position: fixed;
  bottom: 50px;
  right: 50px;
  border: none;
  border-radius: 50%;
  z-index: 1;

  &__icon {
    color: #378472;
    font-size: 4.0625em; // 65px
  }

  &:hover {
    background-color: #ffffff;
  }

  &:hover .btn-top__icon {
    color: $colorThemeMain;
  }
}

