.search {

  &__form {
    position: relative;
  }

  &__icon {
    border: 0;
    outline: none;
    cursor: pointer;
    color: $colorThemeMain;
    position: absolute;
    background-color: #efefef;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25em; // 20px;

    &:hover {
      color: $colorTextMain;
    }

  }
  &__field {
    padding-left: 38px;
    height: 38px;
  }

}


.aside {

  &__aside-container {
    padding-top: 1.25em; //20px;
    position: sticky;
    top: 0;
  }

  &__filter-item {
    margin: 30px 0;
  }

  &__filter-item-title {
    color: $colorThemeMain;
    font-weight: 700;
    display: inline-block;
  }

  &__filter-item-inner {
    margin-left: 40px;
    padding-left: 10px;
    border-left: 1px solid $colorTextMain;

}

  &__filter-item-inner-item {
    cursor: pointer;
    font-weight: 600;
    color: $colorTextMain;
    margin: 10px;

    &:hover {
      color: #378472;
    }

  }


  // FilterManager Button:
  &__filter-button {
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #717171;
    background-color: #d1d1d1;
    display: none;

    &:hover {
      color: #ffffff;
      background-color: #378472;
    }

  }

}
.active-language-tab,
.active-level-tab {
  color: #378472;
}




