// MAIN GALLERY

.main-gallery {
  @include flex-start;
  flex-wrap: wrap;
  padding: 0 1.25em; // 20px
}

.main-gallery-item {
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
  border-radius: 0.25em; // 4px
  background-color: rgb(255,255,255);
  margin: 1.25em 1.8125em; //20px 29px;

  &__item-container {
    color: $colorThemeMain;
    cursor: pointer;
    display: block;
  }

  &__content {
    padding-top: 0.375em // 6px;
  }


  &__content-header {
    @include flex-multiple;
  }

 &__title {
   max-width: 15.625em // 250px;
 }

  &__title-link {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $colorThemeMain;
    display: block;

    &:hover {
      color: #378472;
    }

  }


  &__img-container {
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &:hover .main-gallery-item__image-cover {
      bottom: 0;
    }
  }

  &__image-cover {
    font-weight: 700;
    text-align: center;
    position: absolute;
    bottom: -60px;
    transition: 0.3s bottom;
    left: 0;
    right: 0;
    padding: 20px 0;
    background-color: #f0f0f0;
  }

  &__img {
    width: 100%;
    height: 18.75em; // 300px;
    display: block;
  }

  &__type-icon {
    display: inline-block;
    width: 1.875em; //30px;
  }

}


.favourite {
  cursor: pointer;
  display: inline-block;
  border: 0.1875em solid $colorThemeMain;  //3px
  padding: 0.5em;  // 8px
  position: relative;

  &:hover {
    color: $colorThemeSecondary;
    border: 3px solid $colorThemeSecondary;
  }

  &::after {
    content: "Add to Favourite";
    display: inline-block;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #ffffff;
    background-color: $colorThemeMain;
    border-radius: 6px;
    padding: 0.375em 1em;  //6px 16px
    opacity: 0;
    transition: 0.3s opacity;
    position: absolute;
    top: 40px;
    right: -6px;
  }

  &:hover::after {
    opacity: 1;
  }


}
