@import "aside";
@import "main-gallery";

.section-main {
  display: grid;
  background-color: #f0f0f0;
  grid-template-areas:
           "aside aside main main main"
           "aside aside main main main";

  &__aside {
    margin: 0 0.25em 1.25em 1.25em; // 0 4px 20px 20px
    grid-area: aside;
  }

  &__main {
    grid-area: main;
    border-radius: 0.3125em; //5px
    background-color: #959595;
    margin: 1.25em; // 20px
    overflow-y: auto;
    height: 1125px;
  }



}

.main {
 &__bread-crumbs-container {
   padding-left: 1.25em; // 20px
   margin-bottom: 1.25em; // 20px
 }
}

