.gallery-page {
  background-color: #dddddd;

  &__title {
    @include section-title;
  }

  &__gallery {
    @include flex-single;
    padding: 0 8.75em 1.875em; // 140px 30px
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 75em; //1200px;
  }


  &__gallery-item {
    box-shadow: 0.125em 0.125em 0.3125em #717171; // 2px 2px 5px
    margin: 0.9375em; // 15px
  }

  &__gallery-item img {
    display: inherit;
  }

}
