@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  /* IE10+ */

    .slider__slider-container {
      background: transparent url('./../../img/header-slider/header-slide1_IE.jpg') no-repeat top center;

    }

  .slider__slider-arrow {
    display: none;
  }


}