@media screen and (max-width: 500px) {

    .logo__title {
      font-size: 1.875em; //30px;
    }

  .navbar__item-aboutus-subitem-link {
        font-size: 1.125em;   // 18px
      }

  .header-content {
    padding: 1em 0.5em; //16px 8px
  }

  .header-title {
        font-size: 7vw;
      }

  .header-subtitle {
        font-size: 5vw;
      }



  // ~~~~~~~~~~~~  SECTION CATEGORY  ~~~~~~~~~~~~~
    .category {
      background-color: #81fdff;

      &__container {
        font-size: 1.125em;
        flex-direction: column;

      }

      &__add-btn-container {
        padding: 0.625em 0;  // 10px 0;

      }

      &__list-container {
        padding: 0.625em 0;  // 10px 0;
        order: -1;

      }

    }


  // ~~~~~~~~~~~~  MAIN GALLERY  ~~~~~~~~~~~~~

  .section-main__main {
    margin: 0;
    height: 630px;
    padding: 0 7vw;
  }

  .main-gallery {
    padding: 0;
  }

  .main-gallery-item {
    margin: 1.25em 0.9375em;//20px 15px;
    width: 100%;
  }

  .main-gallery-item__img {
    height: 80vw;
    width: 100%;
  }

  .main-gallery-item__content {
    font-size: 3.8vw;
  }

  .main-gallery-item__title {
    font-size: 4vw;
  }

  .favourite {
    margin-top: 0.9375em; //15px;

    &::after {
      padding: 0.375em 0.625em;  //6px 10px
      right: -9.375em; //-150px
      top: 2px;
    }

  }


  .main-gallery-item__content-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .main__bread-crumbs-container {
    font-size: 3.8vw;
  }


  // ~~~~~~~~~~~~  BUTTON TO TOP  ~~~~~~~~~~~~~
  .btn-top {
    &__icon {
      color: #378472;
      font-size: 50px;
    }


  }

}

