@media screen and (max-width: 980px) {


  // ~~~~~~~~~~~~  HEADER NAVIGATION MENU ~~~~~~~~~~~~~

  .js-hamburger {
    display: none;
  }

  .header {
  position: relative;

    &__header-navbar {
      z-index: 1;
      position: absolute;
      box-shadow: 2px 2px 5px rgba(0,0,0,.5);
      left: 0;
      right: 0;
      top: 137px;
    }

    &__hamburger-button {
      display: block;
    }

    &__registration {
      z-index: 1;
      position: absolute;
      left: 0;
      right: 0;
      background-color: gray;
      padding: 12px;
      top: 75px;
      justify-content: flex-start;
    }

  }

  .navbar {
    &__menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__item {
      cursor: pointer;
      background-color: #d1d1d1;
      width: 100%;
      border-bottom: 1px solid #c7c7c7;
      border-right: none;

      &:hover {
        background-color: #717171;
        border-bottom: 1px solid transparent;
      }

      &:hover .navbar__item-link {
        color: #ffffff;
      }

    }

    &__item-link {
      width: 100%;
      padding: 15px 30px;
      display: inline-block;
      color: $colorThemeMain;

      &:hover {
        border: none;
      }
    }


    // About us Sub Menu:
    &__item-aboutus {
      &:hover .navbar__item-aboutus-dropdown{
        background-color: #717171;
      }
    }

    &__item-aboutus-dropdown {
      //border: 3px solid red;
      background-color: #d1d1d1;
      margin: 10px 0 10px 30px;
      border-radius: 0;
      z-index: 11111;
      border-left: 1px solid #5c5c5c;
      position: static;

      &:hover {
        background-color: #717171;
      }
    }

    &__item-aboutus-subitem {
      width: 100%;
      border-bottom: none;

      &:hover {
        background-color: #d1d1d1;
      }

    }

  }

  // ~~~~~~~~~~~~  SLIDER  ~~~~~~~~~~~~~
  // ARROWS
  .slider {

  &__slider-arrow {
    background-color: $colorThemeMain;

    line-height: 50px;
    font-size: 22px;
    border-radius: 0;
    text-align: center;
    position: absolute;
    top: auto;
    bottom: 0;
    width: 50%;
    height: 50px;


    &:hover {
      background-color: $colorThemeSecondary;
    }

    &:hover .slider-arrow__icon {
      color: #000000;
    }

  }

  // Arrow modifiers
  &--slider-prev-arrow {
    left: 0;
  }
  &--slider-next-arrow {
    right: 0;
  }

}

  .slider-arrow__icon {
    color: rgba(255,255,255,.9);
  }


  // ~~~~~~~~~~~~  MAIN SECTION  ~~~~~~~~~~~~~
  .section-main {
    font-size: 18px;
    grid-template-areas:
            "aside aside aside aside aside"
            "main main main main main";

    &__aside {
      grid-area: aside;
      margin: 1.25em; // 20px
    }

    &__main {
      grid-area: main;
      border-radius: 0.3125em; //5px
      margin: 1.25em; // 20px
    }
  }



  // ~~~~~~~~~~~~  SECTION CATEGORY  ~~~~~~~~~~~~~

  .category {
    &__container {
      border-top: 10px solid #717171;
      border-bottom: 10px solid #717171;
      background-color: $colorThemeMain;
      padding: 0.9375em 1.25em;  // 15px 20px;
    }

  }

  .category-list {
    flex-direction: column;
    align-items: center;

    &__item {
      cursor: pointer;
      border-radius: 0;
      width: 100%;
      text-align: center;
      border: 1px solid transparent;
      margin: 0 10px;

      &:hover {
        background-color: #d1d1d1;
      }
    }

    .active-category-tab {
      background-color: #d1d1d1;
    }
  }


  // ~~~~~~~~~~~~  SECTION MAIN  ~~~~~~~~~~~~~

    .main-gallery {
      justify-content: center;
      padding: 0;

    }

    .main-gallery-item {
      &__title {
        max-width: 12.5em // 200px;
      }

    }

  // ~~~~~~~~~~~~  ASIDE FILTERS  ~~~~~~~~~~~~~
  .js-aside {
    display: none;
  }

  .aside {

    &__aside-container {
      padding-top: 2.25em; //36px;
    }

    &__filter-button{
      display: inline-block;
    }


  }



}
