// NAVIGATION MENU
.navbar {

  &__menu {
    @include flex-multiple;
  }

  &__item {
    cursor: pointer;
    padding: 0 1.25em;   // 20px
    border-right: 0.0625em solid #81fdff; //1px
    white-space: nowrap;


    &:last-child {
      border-right: none;
    }

    &__item-aboutus {
      position: relative;
    }

  }

  &__item-link {
    color: #ffffff;

    &:hover {
      border-bottom: 0.0625em solid #ffffff; //1px
    }
  }

  &__item-icon {
    transition: 0.3s transform;
    vertical-align: middle;
    margin-left: 0.5em; // 8px
  }

  &__item-aboutus-dropdown {
    display: none;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    border-radius: 0.1875em; //3px;
    top: 3.5em;  // 56px
    position: absolute;
  }

  &__item-aboutus-subitem {
    border-bottom: 0.0625em solid #808080; // 1px
    width: 25em;   // 400px

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #b5b5b5;
    }
  }

  &__item-aboutus-subitem-link {
    width: 100%;
    display: inline-block;
    padding: 0.625em;  // 10px
    color: #1e1e1e;
  }

}
