@import "logo";
@import "header-menu";
@import "registration";

.header {
  &__header-top-container {
    @include flex-multiple;
    height: 4.75em;   // 76px
    background: linear-gradient(45deg, black, #15568b);
    padding: 0 1.125em;    // 0 18px;
  }

  &__hamburger-button {
    display: none;
  }

}

// Hamburger:
.hamburger-button__icon {
  cursor: pointer;
  font-size: 1.875em; //30px;
  color: #ffffff;
}


// Helpers
.show-dropdown {
  display: block;
}

.rotate {
  transform: rotate(180deg);
}
