// SLIDER
.slider {


//'../../../img/header-slider/header-slide1.png'
//  &__slider-container {
//    background-color: #ee4633;
//  }


  &__slider-container {
    @include flex-single;
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
  }

  // ARROWS
  &__slider-arrow {
    cursor: pointer;
    line-height: 3.125em; // 50px;
    font-size: 1.375em; // 22px;
    border-radius: 0.3125em; //5px;
    text-align: center;
    position: absolute;
    top: 50%;
    width: 3.125em; // 50px;
    height: 3.125em; // 50px;
    margin-top: -1.5625em; //-25px;

    &:hover {
      background-color: rgba(255,255,255,.9);
    }

    &:hover .slider-arrow__icon {
      color: #000000;
    }

  }

  // Arrow modifiers
  &--slider-prev-arrow {
    left: 3.125em; // 50px;
  }
  &--slider-next-arrow {
    right: 3.125em; // 50px;
  }

}

.slider-arrow__icon {
  color: rgba(255,255,255,.9);
}


//.slider__slider-content {
//  background: none;
//}

.slider__slider-content {
  text-align: center;
  padding: 2.1875em 1.25em;  // 35px 20px;
  background-color: rgba(255,255,255,.9);
  border-radius: 0.375em; //6px;
}

.slider__subtitle {
  margin: 0.625em 0;  // 10px 0;
}

@media screen and (min-width: 1290px) {
  .slider__slider-container {
    background-size: cover;

  }
}
