<section class="contacts-page">
    <h1 class="contacts-page__title">Contact Information</h1>

    <address class="contacts-page__address">
        Solomenska sq., house. 10, office 390, 3rd floor
    </address>

    <div class="contacts-page__map-container"></div>
</section>

