<section class="gallery-page">
    <h1 class="gallery-page__title">Gallery</h1>

    <ul class="gallery-page__gallery">
        <li class="gallery-page__gallery-item">
            <img src="../assets/img/image-gallery/1.png" alt="Programming Image">
        </li>
        <li class="gallery-page__gallery-item">
            <img src="../assets/img/image-gallery/2.png" alt="Programming Image">
        </li>

        <li class="gallery-page__gallery-item">
            <img src="../assets/img/image-gallery/3.png" alt="Programming Image">
        </li>

        <li class="gallery-page__gallery-item">
            <img src="../assets/img/image-gallery/4.png" alt="Programming Image">
        </li>

        <li class="gallery-page__gallery-item">
            <img src="../assets/img/image-gallery/5.png" alt="Programming Image">
        </li>
        <li class="gallery-page__gallery-item">
            <img src="../assets/img/image-gallery/6.png" alt="Programming Image">
        </li>
        <li class="gallery-page__gallery-item">
            <img src="../assets/img/image-gallery/7.png" alt="Programming Image">
        </li>
        <li class="gallery-page__gallery-item">
            <img src="../assets/img/image-gallery/8.png" alt="Programming Image">
        </li>
    </ul>

</section>
