.contacts-page {
  background-color: #dddddd;

  &__title {
    @include section-title;
  }

  &__address {
    text-align: center;
    padding: 0.9375em; // 15px
  }

  &__map,
  &__image {
    display: inherit;
    width: 100%;
  }

}
